In [1]:
import pandas as pd
#import d6tstack

#from openpyxl import Workbook, load_workbook
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

xls = pd.ExcelFile('dataset.xlsx')
towrite1  = pd.DataFrame(columns=['trainno', 'from', 'to','delay'])
# Now you can list all sheets in the file
listtrainnames=xls.sheet_names
# ['house', 'house_extra', ...]

# to read just one sheet to dataframe:
for i in range(0,len(listtrainnames)):
    trainh=listtrainnames[i]
    
    df = pd.read_excel('dataset.xlsx', sheet_name=trainh)
    tp=trainh.find('-')
    trainu=trainh[0:tp]
    x=[]
    x=list(df.columns.values.tolist())
    s=[]
    for x1 in x:
        i=x1.find('\n')
        x1=x1[0:i]
        s.append(x1)
    
    df.rename(columns=dict(zip(df.columns[0:], s)),inplace=True)


# to read all sheets to a map
    df['trainno'] = trainu
    df=df.set_index('trainno')
    df=df.fillna('0 Mins')
    towrite  = pd.DataFrame(columns=['trainno', 'from', 'to','delay'])
# creating a blank series 
    Type_new = pd.Series([]) 
    trainno=trainu
#df.dtypes
    x=list(df.columns.values.tolist())
    rowlen=df.shape[0]
    l=[]



#df.columns.get_loc(key, method=None, tolerance=None)
    for j in range(0,rowlen):
        l=df.iloc[j]
    
        for i in range(0,len(x)-1):
            y=x[i]
            z=x[i+1]
            w=l[i+1]
            towrite=towrite.append({'trainno':trainno, 'from':y,'to':z,'delay':w}, ignore_index=True)
    
    lisdelay=[]
    lisdelay=list(towrite['delay'])
##lisdelay
    for i in range(0,len(lisdelay)):
        if(lisdelay[i]=='-'):
            lisdelay[i]='0 Mins'
        if(lisdelay[i]=='No Delay'):
            lisdelay[i]='0 Mins'
            
        
    x=''
    store=0
    store1=1
    for i in range(0,len(lisdelay)):
        x1=lisdelay[i].find('M')
    
        x=lisdelay[i][0:x1-1]
    
        if(len(x)>2):
            x4=lisdelay[i].find('M')
            x5=lisdelay[i][x4-3:x4-1]
            x5=int(x5)
            store=store+x5
            x2=lisdelay[i].find('H')
            x3=lisdelay[i][0:x2-1]
        #lisdelay[i]=lisdelay[i][0:x2-1]
            x3=int(x3)
            store1=x3*60
        
            lisdelay[i]=store+store1
        else:
            x4=lisdelay[i].find('M')
            x5=lisdelay[i][0:x4-1]
            x5=int(x)
        #store=store+x5
            lisdelay[i]=x5
        store=1

        
##lisdelay
    
#print("done")

    towrite['delay']=pd.DataFrame(lisdelay)

    towrite1=towrite1.append(towrite)
towrite1

    trainno             from               to delay
0     12625  Trivandrum Cntl  Varkalasivagiri    25
1     12625  Varkalasivagiri           Kollam    24
2     12625           Kollam       Kayankulam    25
3     12625       Kayankulam       Mavelikara    28
4     12625       Mavelikara       Chengannur    33
5     12625       Chengannur        Tiruvalla    34
6     12625        Tiruvalla     Changanaseri    31
7     12625     Changanaseri         Kottayam    31
8     12625         Kottayam           Vaikom    36
9     12625           Vaikom   Ernakulam Town    19
10    12625   Ernakulam Town            Aluva    27
11    12625            Aluva          Thrisur    31
12    12625          Thrisur       Ottappalam    30
13    12625       Ottappalam         Palakkad    31
14    12625         Palakkad       Coimbatore    34
15    12625       Coimbatore         Tiruppur    34
16    12625         Tiruppur            Erode    30
17    12625            Erode            Salem    30
18    12625            Salem      Jolarpettai    48
19    12625      Jolarpettai          Katpadi    34
20    12625          Katpadi         Chittoor    45
21    12625         Chittoor         Tirupati    45
22    12625         Tirupati        Renigunta    46
23    12625        Renigunta            Gudur    46
24    12625            Gudur          Nellore    55
25    12625          Nellore       Vijayawada    28
26    12625       Vijayawada         Warangal    46
27    12625         Warangal       Ramagundam    40
28    12625       Ramagundam       Balharshah    27
29    12625       Balharshah       Chandrapur    38
..      ...              ...              ...   ...
570   12522         Sevagram           Nagpur    21
571   12522           Nagpur        Pandhurna    27
572   12522        Pandhurna             Amla    33
573   12522             Amla            Betul    36
574   12522            Betul      Ghoradongri    39
575   12522      Ghoradongri           Itarsi     0
576   12522           Itarsi           Bhopal     0
577   12522           Bhopal         Lalitpur     0
578   12522         Lalitpur           Jhansi     0
579   12522           Jhansi             Orai     0
580   12522             Orai        Pokhrayan     0
581   12522        Pokhrayan   Kanpur Central     0
582   12522   Kanpur Central            Unnao     0
583   12522            Unnao         Aishbagh     0
584   12522         Aishbagh     Badshahnagar     0
585   12522     Badshahnagar        Barabanki     0
586   12522        Barabanki            Gonda     0
587   12522            Gonda         Mankapur     0
588   12522         Mankapur            Basti     0
589   12522            Basti       Khalilabad     0
590   12522       Khalilabad        Gorakhpur     0
591   12522        Gorakhpur     Deoria Sadar     0
592   12522     Deoria Sadar           Bhatni     0
593   12522           Bhatni            Siwan     0
594   12522            Siwan          Chhapra     0
595   12522          Chhapra           Sonpur     0
596   12522           Sonpur          Hajipur     0
597   12522          Hajipur      Muzaffarpur     0
598   12522      Muzaffarpur       Samastipur     0
599   12522       Samastipur          Barauni     0

[10127 rows x 4 columns]

In [2]:
writer = ExcelWriter('delaydata.xlsx')
towrite1.to_excel(writer,'Sheet1',index=False)
writer.save()
df1=pd.read_excel('delaydata.xlsx')



#########
#xls1 = pd.ExcelFile('official_schedules.xlsx')

# Now you can list all sheets in the file

In [ ]:
'''import pandas as pd
stationlist=pd.read_excel('stationlist (1).xlsx')
stationname=list(stationlist)
stationname
#stationcode=list(stationlist['code'])
'''

In [ ]:
'''import pandas as pd
stationlist=pd.read_excel('stationlist (1).xlsx')
stationlist=stationlist.fillna('$')
stationlist=stationlist[stationlist.STAT != '$']
stationlist'''

In [3]:
from pandas import ExcelWriter
from pandas import ExcelFile

In [5]:
''''''writer2 = ExcelWriter('stationdata.xlsx')
stationlist.to_excel(writer2,'Sheet1',index=False)
writer2.save()
df1=pd.read_excel('stationdata.xlsx')''''''

SyntaxError: invalid syntax (<ipython-input-5-cbc621cab21d>, line 1)

In [ ]:
#dfsd = pd.read_excel('official_schedules.xlsx', sheet_name="12625-kerala")
df1=pd.read_excel('stationdata.xlsx')
df1