In [38]:
import pandas as pd
#import d6tstack

#from openpyxl import Workbook, load_workbook
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

In [39]:
linkidfile=pd.read_excel('linkdata.xlsx')

In [40]:
linkidlist=linkidfile.values.tolist()

In [41]:
linkidfile.head(2)

   linkid from  to
0       1  KPD  VN
1       2  KPD  AB

In [42]:
stationdata=pd.read_excel('stationdata.xlsx')
stationdata.head(2)

              STAT code   latitude longitude
0       Coimbatore  CBE  11.016844   76.9558
1  Mgr Chennai Ctl  MAS  13.054040   80.2293

In [43]:
clusterfile=pd.read_excel('clusters.xlsx')
clusterfile.head(2)

   0
0  3
1  3

In [44]:
stationlist=stationdata.values.tolist()
clusterlist=clusterfile.values.tolist()
clusterlist

[[3],
 [3],
 [3],
 [3],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [1],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [1],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [1],
 [4],
 [1],
 [1],
 [4],
 [4],
 [4],
 [4],
 [1],
 [1],
 [4],
 [4],
 [1],
 [1],
 [1],
 [1],
 [4],
 [4],
 [5],
 [5],
 [4],
 [4],
 [1],
 [5],
 [1],
 [4],
 [4],
 [4],
 [5],
 [1],
 [1],
 [1],
 [4],
 [4],
 [1],
 [4],
 [1],
 [1],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [4],
 [2],
 [2],
 [2],
 [2],
 [4],
 [5],
 [5],
 [5],
 [5],
 [5],
 [2],
 [2],
 [0],
 [0],
 [2],
 [0],
 [2],
 [2],
 [2],
 [2],
 [2],
 [2],
 [5],
 [2],
 [5],
 [0],
 [0],
 [0],
 [0],
 [2],
 [2],
 [2],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [2],
 [2],
 [2],
 [2],
 [0],
 [0],
 [0],
 [0],
 [0],
 [2],
 [0],
 [0],
 [0],
 [2],
 [0],
 [2],
 [0],
 [2],
 [2],
 [0],
 [3],
 [3],
 [2],
 [2],
 [0],
 [0],
 [2],
 [2],
 [2],
 [2],
 [2],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [0],
 [3],
 [2],
 [2],
 [0],
 [2],
 [2],
 [3],
 [0],
 [0],
 [2],
 [2],
 [3],
 [0],
 [0],
 [0],
 [0],
 [0],
 [2],
 [2],
 [0],
 [0],
 [0],
 [2],
 [0],
 [3],
 [2],
 [2],
 [2],
 [0],
 [0],
 [0],
 [2],
 [3],
 [0],
 [0],
 [0],
 [3],
 [3],
 [0],
 [2],
 [0],
 [2],
 [2],
 [0],
 [0],
 [3],
 [2],
 [0],
 [3],
 [0],
 [2],
 [0],
 [0],
 [2],
 [0],
 [2]]

In [45]:
len(clusterlist)

232

In [46]:
towrite  = pd.DataFrame(columns=['clusterid', 'linkid', 'order','stationname','latitude','longitude'])

In [47]:
def serch(code,stationdata):
    for i in range(0,len(stationdata)):
        if(code==stationdata[i][1]):
            return i

In [48]:
for i in range(0,len(linkidlist)):
    print("code")
    print(linkidlist[i][1])
    k=serch(linkidlist[i][1],stationlist)
    print(k)
    lat1=stationlist[k][2]
    longq1=stationlist[k][3]
    k1=serch(linkidlist[i][2],stationlist)
    lat11=stationlist[k1][2]
    longq11=stationlist[k1][3]
    p=clusterlist[i]
    
    
    
    
    
    
    towrite=towrite.append({'clusterid':p, 'linkid':linkidlist[i][0],'order':1,'stationname':linkidlist[i][1],'latitude':lat1,'longitude':longq1}, ignore_index=True)
    towrite=towrite.append({'clusterid':p, 'linkid':linkidlist[i][0],'order':2,'stationname':linkidlist[i][2],'latitude':lat11,'longitude':longq11}, ignore_index=True)

code
KPD
60
code
KPD
60
code
KPD
60
code
KPD
60
code
KPD
60
code
KPD
60
code
KPD
60
code
KPD
60
code
VAK
23
code
VAK
23
code
VAK
23
code
VAK
23
code
VAK
23
code
MLMR
53
code
MLMR
53
code
MLMR
53
code
TUVR
33
code
TUVR
33
code
AFK
2
code
AFK
2
code
KYJ
70
code
KYJ
70
code
KYJ
70
code
KYJ
70
code
TEN
69
code
TEN
69
code
PASA
50
code
PASA
50
code
QLN
34
code
QLN
34
code
QLN
34
code
QLN
34
code
QLN
34
code
SRT
10
code
SRT
10
code
SRR
65
code
SRR
65
code
ALU
74
code
ALU
74
code
SDN
62
code
SDN
62
code
PNQ
77
code
PNQ
77
code
VN
43
code
VN
43
code
VN
43
code
MAKM
7
code
MAKM
7
code
SRTL
38
code
SRTL
38
code
SRTL
38
code
SRTL
38
code
NYY
47
code
NYY
47
code
NYY
47
code
VPT
39
code
VPT
39
code
VPT
39
code
DG
66
code
DG
66
code
DG
66
code
BQI
8
code
BQI
8
code
BQI
8
code
VM
54
code
VM
54
code
MBM
21
code
CVP
72
code
CVP
72
code
CVP
72
code
CBE
0
code
CBE
0
code
AB
51
code
KON
5
code
SA
3
code
SA
3
code
SA
3
code
TCR
12
code
TCR
12
code
TCR
12
code
TCR
12
code
TCR
12
code
TCR
12
code
TCR
12
code
TCR
12
code
TCR
12
code
TRTR
68
code
CAPE
24
code
TMV
13
code
TMV
13
code
SLY
57
code
SLY
57
code
HAD
71
code
MMK
45
code
MMK
45
code
SRGM
76
code
SRGM
76
code
VARD
64
code
VARD
64
code
KVU
56
code
KVU
56
code
AWY
85
code
AWY
85
code
AWY
85
code
AWY
85
code
TUP
40
code
TUP
40
code
MVLK
16
code
MVLK
16
code
MAS
1
code
MAS
1
code
MAS
1
code
GUV
78
code
KZT
73
code
KZT
73
code
KZT
73
code
CKI
81
code
CKI
81
code
TVP
67
code
WKI
9
code
WKI
9
code
PGT
55
code
PGT
55
code
PGT
55
code
ALLP
83
code
ALLP
83
code
CGL
15
code
CGL
15
code
CGL
15
code
IJK
63
code
IJK
63
code
MPA
59
code
MPA
59
code
TPJ
80
code
TPJ
80
code
TPJ
80
code
TPJ
80
code
PER
18
code
TBM
26
code
TBM
26
code
NNN
35
code
NNN
35
code
TPT
37
code
TPT
37
code
MCN
22
code
MCN
22
code
KQN
17
code
KQN
17
code
KQN
17
code
ERS
44
code
ERS
44
code
ERS
44
code
ERS
44
code
TVC
49
code
TVC
49
code
TVC
49
code
TVC
49
code
ED
46
code
ED
46
code
ED
46
code
AJJ
79
code
AJJ
79
code
AJJ
79
code
AJJ
79
code
KPY
41
code
KPY
41
code
ERL
84
code
ERL
84
code
VRI
25
code
VRI
25
code
VRI
25
code
MDU
27
code
MDU
27
code
MDU
27
code
MDU
27
code
KTYM
20
code
KTYM
20
code
KTYM
20
code
KTYM
20
code
OTP
31
code
OTP
31
code
OTP
31
code
OTP
31
code
NPK
58
code
NPK
58
code
MS
6
code
CGY
48
code
CGY
48
code
TMQ
28
code
TMQ
28
code
TRL
11
code
TRL
11
code
NCJ
86
code
NCJ
86
code
NCJ
86
code
GYM
61
code
GYM
61
code
EKM
14
code
EKM
14
code
EKM
14
code
EKM
14
code
EKM
14
code
EKM
14
code
VLY
29
code
VLY
29
code
VLY
29
code
TRVL
4
code
TRVL
4
code
TRVL
4
code
KDU
52
code
KDU
52
code
CNGR
30
code
CNGR
30
code
CNGR
30
code
AAY
32
code
AAY
32
code
AAY
32
code
PVU
75
code
PVU
75
code
PNDM
36
code
PNDM
36
code
JTJ
82
code
JTJ
82
code
JTJ
82
code
JTJ
82
code
JTJ
82
code
CRY
19
code
CRY
19
code
CRY
19
code
MEJ
42
code
MEJ
42
code
MEJ
42

In [49]:
towrite

    clusterid linkid order stationname   latitude longitude
0         [3]      1     1         KPD  12.980000     79.13
1         [3]      1     2          VN  12.687200   78.6303
2         [3]      2     1         KPD  12.980000     79.13
3         [3]      2     2          AB  12.790361   78.7166
4         [3]      3     1         KPD  12.980000     79.13
5         [3]      3     2          SA  11.664325    78.146
6         [3]      4     1         KPD  12.980000     79.13
7         [3]      4     2         MAS  13.054040   80.2293
8         [1]      5     1         KPD  12.980000     79.13
9         [1]      5     2         MCN  12.972100   79.2874
10        [1]      6     1         KPD  12.980000     79.13
11        [1]      6     2         AJJ  13.075239   79.6558
12        [1]      7     1         KPD  12.980000     79.13
13        [1]      7     2         GYM  12.944180   78.8714
14        [1]      8     1         KPD  12.980000     79.13
15        [1]      8     2         JTJ  12.592460   78.5749
16        [1]      9     1         VAK   8.740300   76.7234
17        [1]      9     2         QLN   8.893200   76.6141
18        [1]     10     1         VAK   8.740300   76.7234
19        [1]     10     2         KVU   8.678699   76.7676
20        [1]     11     1         VAK   8.740300   76.7234
21        [1]     11     2         TVP   8.489750   76.9317
22        [1]     12     1         VAK   8.740300   76.7234
23        [1]     12     2         TVC   8.486900   76.9528
24        [1]     13     1         VAK   8.740300   76.7234
25        [1]     13     2         PVU  10.141500   76.2362
26        [1]     14     1        MLMR  12.435330   79.8329
27        [1]     14     2         TMV  12.229380   79.6513
28        [1]     15     1        MLMR  12.435330   79.8329
29        [1]     15     2         MMK  12.508900   79.8847
..        ...    ...   ...         ...        ...       ...
434       [2]    218     1         PVU  10.141500   76.2362
435       [2]    218     2         VAK   8.740300   76.7234
436       [2]    219     1         PVU  10.141500   76.2362
437       [2]    219     2         QLN   8.893200   76.6141
438       [0]    220     1        PNDM  11.407200   79.2409
439       [0]    220     2         ALU  11.140059   79.0786
440       [0]    221     1        PNDM  11.407200   79.2409
441       [0]    221     2         VRI  11.517000   79.3238
442       [3]    222     1         JTJ  12.592460   78.5749
443       [3]    222     2         KPD  12.980000     79.13
444       [2]    223     1         JTJ  12.592460   78.5749
445       [2]    223     2          VN  12.687200   78.6303
446       [0]    224     1         JTJ  12.592460   78.5749
447       [0]    224     2         BQI  11.984438    78.249
448       [3]    225     1         JTJ  12.592460   78.5749
449       [3]    225     2          SA  11.664325    78.146
450       [0]    226     1         JTJ  12.592460   78.5749
451       [0]    226     2         TPT  12.495000   78.5678
452       [2]    227     1         CRY   8.606060    76.841
453       [2]    227     2         KVU   8.678699   76.7676
454       [0]    228     1         CRY   8.606060    76.841
455       [0]    228     2         TVP   8.489750   76.9317
456       [0]    229     1         CRY   8.606060    76.841
457       [0]    229     2         TVC   8.486900   76.9528
458       [2]    230     1         MEJ   8.882000     8.882
459       [2]    230     2         TEN   8.713913   77.7567
460       [0]    231     1         MEJ   8.882000     8.882
461       [0]    231     2         CVP   9.167414   77.8767
462       [2]    232     1         MEJ   8.882000     8.882
463       [2]    232     2         KDU   8.999870    77.862

[464 rows x 6 columns]

In [50]:
writer2 = ExcelWriter('fortableau.xlsx')
towrite.to_excel(writer2,'Sheet1',index=False)
writer2.save()
df1=pd.read_excel('fortableau.xlsx')

In [51]:
df1

    clusterid  linkid  order stationname   latitude longitude
0         [3]       1      1         KPD  12.980000     79.13
1         [3]       1      2          VN  12.687200   78.6303
2         [3]       2      1         KPD  12.980000     79.13
3         [3]       2      2          AB  12.790361   78.7166
4         [3]       3      1         KPD  12.980000     79.13
5         [3]       3      2          SA  11.664325    78.146
6         [3]       4      1         KPD  12.980000     79.13
7         [3]       4      2         MAS  13.054040   80.2293
8         [1]       5      1         KPD  12.980000     79.13
9         [1]       5      2         MCN  12.972100   79.2874
10        [1]       6      1         KPD  12.980000     79.13
11        [1]       6      2         AJJ  13.075239   79.6558
12        [1]       7      1         KPD  12.980000     79.13
13        [1]       7      2         GYM  12.944180   78.8714
14        [1]       8      1         KPD  12.980000     79.13
15        [1]       8      2         JTJ  12.592460   78.5749
16        [1]       9      1         VAK   8.740300   76.7234
17        [1]       9      2         QLN   8.893200   76.6141
18        [1]      10      1         VAK   8.740300   76.7234
19        [1]      10      2         KVU   8.678699   76.7676
20        [1]      11      1         VAK   8.740300   76.7234
21        [1]      11      2         TVP   8.489750   76.9317
22        [1]      12      1         VAK   8.740300   76.7234
23        [1]      12      2         TVC   8.486900   76.9528
24        [1]      13      1         VAK   8.740300   76.7234
25        [1]      13      2         PVU  10.141500   76.2362
26        [1]      14      1        MLMR  12.435330   79.8329
27        [1]      14      2         TMV  12.229380   79.6513
28        [1]      15      1        MLMR  12.435330   79.8329
29        [1]      15      2         MMK  12.508900   79.8847
..        ...     ...    ...         ...        ...       ...
434       [2]     218      1         PVU  10.141500   76.2362
435       [2]     218      2         VAK   8.740300   76.7234
436       [2]     219      1         PVU  10.141500   76.2362
437       [2]     219      2         QLN   8.893200   76.6141
438       [0]     220      1        PNDM  11.407200   79.2409
439       [0]     220      2         ALU  11.140059   79.0786
440       [0]     221      1        PNDM  11.407200   79.2409
441       [0]     221      2         VRI  11.517000   79.3238
442       [3]     222      1         JTJ  12.592460   78.5749
443       [3]     222      2         KPD  12.980000     79.13
444       [2]     223      1         JTJ  12.592460   78.5749
445       [2]     223      2          VN  12.687200   78.6303
446       [0]     224      1         JTJ  12.592460   78.5749
447       [0]     224      2         BQI  11.984438    78.249
448       [3]     225      1         JTJ  12.592460   78.5749
449       [3]     225      2          SA  11.664325    78.146
450       [0]     226      1         JTJ  12.592460   78.5749
451       [0]     226      2         TPT  12.495000   78.5678
452       [2]     227      1         CRY   8.606060    76.841
453       [2]     227      2         KVU   8.678699   76.7676
454       [0]     228      1         CRY   8.606060    76.841
455       [0]     228      2         TVP   8.489750   76.9317
456       [0]     229      1         CRY   8.606060    76.841
457       [0]     229      2         TVC   8.486900   76.9528
458       [2]     230      1         MEJ   8.882000     8.882
459       [2]     230      2         TEN   8.713913   77.7567
460       [0]     231      1         MEJ   8.882000     8.882
461       [0]     231      2         CVP   9.167414   77.8767
462       [2]     232      1         MEJ   8.882000     8.882
463       [2]     232      2         KDU   8.999870    77.862

[464 rows x 6 columns]